.border {
    border: 1px solid $primary-color-bg !important;
}

.border-top {
    border-top: 1px solid $primary-color-bg !important;
}

.border-bottom {
    border-bottom: 1px solid $primary-color-bg !important;
}

.border-right {
    border-right: 1px solid $primary-color-bg !important;
}

.border-left {
    border-left: 1px solid $primary-color-bg !important;
}

.no-border {
    border: none;
}