#page {
    margin-top: 65px;
    // display: flow-root;
    // max-width: 1200px;
    // min-width: 795px;
}

#menu {
    z-index: 80;

    position: fixed;
    top:0;
    right:0;

    width: 100%;
    background-color: $site-main-color;
    border-bottom: 1px solid $primary-color-bg;

    text-align: right;

    font-family: 'Didact Gothic', Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    a {
        text-decoration: none;
    }

    &> .item {
        margin: 0;
        display: inline-block;
        border-left: 1px solid $primary-color-bg;

        padding: 16px;

        vertical-align: middle; 

        position: relative;
        
        &:hover {
            opacity: .75;

            @include box-shadow(0,0,2px,white);
        }

        .btn-icon {
            position: absolute;
            top: 20px;
            right: 0;
            
            height: 25px;
            width: 25px;

            font-size: 0.7em;
        }
    }
}

@media (max-width: 767px){
    #menu {
        font-size: 0.9em;
    }
}